<div class="row">
    <div class="col-md-6">
        <p class="input-group">
			<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="dateOpened" min-date="minDate" max-date="maxDate" datepicker-options="dtPopupOptions" ng-required="true" close-text="Close" />
		    <span class="input-group-btn">
		    	<button type="button" class="btn btn-default" ng-click="openDate($event)"><span class="glyphicon glyphicon-calendar"></span></button>
		    </span>
		</p>
	</div>
</div>