<nav role="navigation" class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#toggle-items">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/"><span class="glyphicon glyphicon-home"></span></a>
    </div>
    <div id="toggle-items" class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav navbar-left">
            <li ng-repeat="link in links">
            	<a class="navbar-item" href="" ng-click="navigate(link)">{{link}}</a>
        </ul>
    </div>
</nav>